SUPABASE_URL=
SUPABASE_KEY=

FOUNDRY_ENDPOINT=
FOUNDRY_API_KEY=
DEPLOYMENT_NAME= #thinking model deployment name
AZURE_OPENAI_EMBEDDING_DEPLOYMENT= #embedding model deployment name

BACKEND_BASE_URL=http://localhost:8000
